.createWalletMobileChild {
  width: 349px;
  margin: 0 !important;
  right: -654px;
  bottom: -347px;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(185, 218, 251, 0.5) 0deg,
    rgba(236, 172, 173, 0.5) 95.99deg,
    rgba(152, 149, 238, 0.5) 206.25deg,
    rgba(144, 162, 248, 0.5) 292.5deg,
    rgba(197, 84, 146, 0.5) 360deg
  );
  height: 322px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  opacity: 0.5;
}
.createWalletMobileChild,
.createWalletMobileItem,
.tabsHorizontalContainer {
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
}
.createWalletMobileItem {
  width: 189px;
  margin: 0 !important;
  bottom: -105.9px;
  left: -107px;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(185, 203, 251, 0.5) 0deg,
    rgba(236, 172, 173, 0.5) 95.99deg,
    rgba(152, 149, 238, 0.5) 112.5deg,
    rgba(197, 84, 146, 0.5) 196.88deg,
    rgba(144, 162, 248, 0.5) 292.5deg
  );
  height: 173.9px;
  opacity: 0.4;
}
.tabsHorizontalContainer {
  top: -0.4px;
  left: -0.2px;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(185, 218, 251, 0.2) 0deg,
    rgba(152, 149, 238, 0.2) 0.04deg,
    rgba(197, 84, 146, 0.2) 0.07deg,
    rgba(236, 172, 173, 0.2) 95.99deg
  );
  width: 227px;
  height: 209px;
  opacity: 0.7;
}
.moreIcon {
  position: absolute;
  top: 139.1px;
  left: 127.4px;
  width: 22px;
  height: 22px;
  z-index: 1;
}
.battery,
.mobileSignalIcon,
.wifiIcon {
  position: absolute;
  top: 93.8px;
  z-index: 1;
}
.battery {
  margin: 0;
  left: 136.4px;
  width: 24.3px;
  height: 11.3px;
}
.mobileSignalIcon,
.wifiIcon {
  left: 116.1px;
  width: 15.3px;
  height: 11px;
}
.mobileSignalIcon {
  top: 94.2px;
  left: 94px;
  width: 17px;
  height: 10.7px;
}
.cryptoCreditCardFrame {
  height: 209px;
  flex: 1;
  position: relative;
}
.createYourWalletText {
  width: 247px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
}
.g430Icon {
  position: absolute;
  top: 69.3px;
  left: 34.5px;
  width: 0;
  height: 1.4px;
  display: none;
}
.path534Icon {
  height: 1.4px;
  width: 0;
  position: relative;
}
.rectangleFrame {
  width: calc(100% + 0.1px);
  position: absolute;
  margin: 0 !important;
  height: calc(100% - 0.5px);
  top: -0.8px;
  right: -0.3px;
  bottom: 1.3px;
  left: 0.2px;
  border-radius: var(--br-8xs);
  background: linear-gradient(
    85.76deg,
    rgba(191, 196, 238, 0.09) 15.52%,
    #c367e6 58.75%,
    rgba(190, 206, 239, 0)
  );
  z-index: 1;
}
.createYourWallet {
  margin: 0;
  height: 33.7px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.textLabel,
.vectorPath {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-mid);
}
.vectorPath {
  position: absolute;
  top: 0.4px;
  left: 0.2px;
  flex-direction: row;
  align-items: flex-end;
  padding: var(--padding-2xl) 73px var(--padding-10xs) var(--padding-15xl);
  gap: 41px;
}
.privateKeyField {
  height: 75px;
  width: 376px;
  position: relative;
}
.addressFieldContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.createYourWalletTextParent {
  width: 427px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.frameContainer,
.frameContainerInner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.frameContainerInner {
  width: 377px;
  justify-content: flex-start;
}
.frameContainer {
  height: 218px;
  justify-content: flex-end;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--background-dropdown-background-color);
  font-family: var(--font-space-grotesk);
}
.notchIcon {
  width: 0;
  height: 0;
  position: relative;
  object-fit: cover;
  display: none;
  z-index: 3;
}
.logIn {
  width: 92px;
  position: relative;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
}
.activeIndicator {
  align-self: stretch;
  height: 4px;
  position: relative;
  background-color: var(--color-primary-blue);
}
.tabsItemHorizontal,
.tabsItemHorizontalWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.tabsItemHorizontal {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-xs);
}
.tabsItemHorizontalWrapper {
  height: 18px;
  flex: 1;
  align-items: flex-start;
  padding: 0;
  box-sizing: border-box;
  min-width: 122px;
}
.guest {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.guestWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl) 0 var(--padding-xl);
}
.activeIndicator1 {
  align-self: stretch;
  height: 4px;
  position: relative;
  background-color: var(--text-2nd-lightest);
}
.tabsItemHorizontal1,
.tabsItemHorizontalContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.tabsItemHorizontal1 {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-xs);
}
.tabsItemHorizontalContainer {
  height: 18px;
  flex: 1;
  align-items: flex-start;
  padding: 0;
  box-sizing: border-box;
  min-width: 122px;
  color: var(--gray-4);
}
.cryptoCreditCard,
.frameTabsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cryptoCreditCard {
  flex: 1;
  flex-wrap: wrap;
  padding: var(--padding-5xs) 0 0;
}
.frameTabsContainer {
  align-self: stretch;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  min-height: 32px;
}
.recordingIndicatorIcon {
  width: 6px;
  height: 6px;
  position: relative;
  display: none;
  z-index: 5;
}
.frameChild {
  position: absolute;
  top: -0.4px;
  left: -0.2px;
  border-radius: 50%;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(185, 218, 251, 0.2) 0deg,
    rgba(152, 149, 238, 0.2) 285deg,
    rgba(236, 172, 173, 0.2) 359.96deg,
    rgba(197, 84, 146, 0.2) 360deg
  );
  filter: blur(100px);
  width: 189px;
  height: 173.9px;
  opacity: 0.5;
}
.backIcon,
.leftSideIcon {
  position: absolute;
  top: 59.5px;
  left: 74.8px;
  width: 22px;
  height: 22px;
  z-index: 1;
}
.leftSideIcon {
  top: 13.5px;
  left: 73.4px;
  width: 54px;
  height: 21px;
}
.ellipseParent {
  height: 174px;
  flex: 1;
  position: relative;
}
.createWalletMobileInner {
  width: 189px;
  margin: 0 !important;
  position: absolute;
  top: 0.4px;
  left: -53.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.address {
  width: 54px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-space-grotesk);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 18px;
  position: relative;
  color: var(--background-dropdown-background-color);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.textGoesHere {
  width: 160px;
  position: relative;
  display: none;
}
.field {
  flex: 1;
  border-radius: var(--br-8xs-3);
  background-color: var(--color-gray-200);
  border: 1.7px solid var(--background-dropdown-background-color);
  box-sizing: border-box;
  height: 37px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10.319066047668457px;
  z-index: 1;
}
.vectorIcon {
  height: 17.5px;
  width: 17.5px;
  position: absolute;
  margin: 0 !important;
  right: 12.9px;
  bottom: 6.7px;
  z-index: 2;
}
.addressParent,
.fieldParent {
  align-self: stretch;
  display: flex;
}
.fieldParent {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.addressParent {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-sm);
}
.frameItem {
  width: 227px;
  position: absolute;
  margin: 0 !important;
  top: -143.6px;
  right: -163.5px;
  border-radius: 50%;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(185, 218, 251, 0.2) 0deg,
    rgba(152, 149, 238, 0.2) 0.04deg,
    rgba(197, 84, 146, 0.2) 0.07deg,
    rgba(236, 172, 173, 0.2) 95.99deg
  );
  filter: blur(100px);
  height: 209px;
  opacity: 0.7;
}
.privateKey {
  width: calc(100% - 17.5px);
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-space-grotesk);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 18px;
  flex: 1;
  position: relative;
  color: var(--background-dropdown-background-color);
  text-align: left;
  display: inline-block;
  min-width: 45px;
  z-index: 1;
}
.ellipseGroup {
  width: 75px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.textGoesHere1 {
  width: 160px;
  position: relative;
  display: none;
}
.field1 {
  flex: 1;
  border-radius: var(--br-8xs-3);
  background-color: var(--color-gray-200);
  border: 1.7px solid var(--background-dropdown-background-color);
  box-sizing: border-box;
  height: 37px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10.319066047668457px;
  z-index: 1;
}
.vectorIcon1 {
  height: 17.5px;
  width: 17.5px;
  position: relative;
  z-index: 2;
  margin-left: -30px;
}
.fieldGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
}
.frameGroup {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-base);
}
.frameGroup,
.frameParent,
.frameSection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
}
.frameSection {
  align-self: stretch;
  height: 180px;
  flex-direction: row;
  padding: 0 var(--padding-10xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--butt3);
  font-family: var(--font-poppins);
}
.wrapperGroup18177Child {
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 10px;
  transform: scale(2.207);
}
.wrapperGroup18177 {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  height: 100%;
  top: -0.4px;
  right: -0.4px;
  bottom: 0.4px;
  left: 0.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.continue {
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 1;
}
.buttonColor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lgi) var(--padding-15xl) var(--padding-lgi)
    var(--padding-11xl);
  position: relative;
}
.buttonColorWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-32xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-space-grotesk);
}
.icons8Star11,
.wallet {
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.icons8Star11 {
  height: 34px;
  width: 33px;
  top: 25.8px;
  left: 41.7px;
  overflow: hidden;
  flex-shrink: 0;
}
.wallet {
  right: 121.2px;
  bottom: 35.4px;
  display: inline-block;
  height: 12px;
}
.bottomMenuParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
  position: relative;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--background-dropdown-background-color);
  font-family: var(--font-poppins);
}
.createWalletMobile {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-34xl);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-primary-blue);
  font-family: var(--font-open-sans);
}
