.buyNow {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-space-grotesk);
  color: var(--butt3);
  text-align: left;
}
.buyNowWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) 36px var(--padding-3xs) 39px;
  background-color: transparent;
  border-radius: var(--br-8xs);
  background: linear-gradient(
    85.76deg,
    rgba(191, 196, 238, 0.09) 15.52%,
    #c367e6 58.75%,
    rgba(190, 206, 239, 0)
  );
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.watchVideo {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-space-grotesk);
  color: var(--butt3);
  text-align: left;
}
.watchVideoWrapper {
  cursor: pointer;
  border: 1px solid var(--background-dropdown-background-color);
  padding: var(--padding-3xs) var(--padding-xl) var(--padding-3xs)
    var(--padding-6xl);
  background-color: transparent;
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.watchVideoWrapper:hover {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.desktop2Inner,
.frameParent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-23xl);
}
.desktop2Inner {
  width: 905px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.desktop2Child {
  width: 123.9px;
  height: 80px;
  position: relative;
  display: none;
}
.desktop2 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-18xl) var(--padding-xl) var(--padding-43xl);
  box-sizing: border-box;
  gap: var(--gap-66xl);
  letter-spacing: normal;
}
@media screen and (max-width: 950px) {
  .desktop2 {
    gap: var(--gap-66xl);
  }
}
@media screen and (max-width: 700px) {
  .desktop2 {
    gap: var(--gap-66xl);
  }
}
@media screen and (max-width: 450px) {
  .frameParent {
    gap: var(--gap-23xl);
  }
}
