.wrapperGroup18316Child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 9px;
  transform: scale(1.685);
}
.wrapperGroup18316 {
  width: 63.3px;
  height: 63.3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sports {
  position: relative;
  line-height: 23px;
  font-weight: 300;
}
.wrapperGroup18316Parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.frameChild {
  width: 63.3px;
  height: 63.3px;
  position: relative;
}
.music {
  position: relative;
  line-height: 23px;
  font-weight: 300;
}
.frameGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.wrapperGroup18315Child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 9px;
  transform: scale(1.685);
}
.wrapperGroup18315 {
  width: 63.3px;
  height: 63.3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.art {
  position: relative;
  line-height: 23px;
  font-weight: 300;
}
.wrapperGroup18315Parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.frameItem {
  width: 63.3px;
  height: 63.3px;
  position: relative;
}
.food {
  position: relative;
  line-height: 23px;
  font-weight: 300;
}
.frameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.frameInner {
  width: 63.3px;
  height: 63.3px;
  position: relative;
}
.food1 {
  width: 34px;
  position: relative;
  line-height: 23px;
  font-weight: 300;
  display: inline-block;
}
.groupDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.fRAMEContainer,
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  margin: 0;
  gap: var(--gap-base);
  z-index: 3;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--butt3);
  font-family: var(--font-space-grotesk);
}
.fRAMEContainer {
  align-self: stretch;
  padding: 0;
}
.filterChild {
  width: 375px;
  position: absolute;
  margin: 0 !important;
  height: 100%;
  top: 0;
  right: -1px;
  bottom: 0;
  background-color: #060518;
}
.bg,
.rectangle {
  position: absolute;
  border-radius: var(--br-19xl) var(--br-19xl) 0 0;
}
.bg {
  width: calc(100% - 28px);
  top: -0.4px;
  right: 13.6px;
  left: 14.4px;
  background-color: var(--background-dropdown-background-color);
  filter: blur(5.44px);
  height: 732px;
  opacity: 0.5;
  mix-blend-mode: normal;
  z-index: 1;
}
.rectangle {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-200);
  display: none;
}
.sportsMusicArtFood {
  position: absolute;
  height: 0.67%;
  width: 6.93%;
  top: 1.62%;
  right: 46.67%;
  bottom: 97.71%;
  left: 46.4%;
  border-radius: 2.5px;
  background-color: rgba(178, 178, 178, 0.5);
  z-index: 1;
}
.selectPriceRange {
  top: 506px;
  left: 20px;
  font-size: var(--font-size-base);
  line-height: 34px;
  font-weight: 500;
  font-family: var(--font-space-grotesk);
  color: var(--butt3);
  text-align: left;
  display: flex;
  align-items: center;
}
.eth0110,
.groupIcon,
.selectPriceRange {
  position: absolute;
  z-index: 3;
}
.eth0110 {
  top: 506px;
  left: 267px;
  font-size: var(--font-size-lg);
  line-height: 34px;
  font-weight: 300;
  font-family: var(--font-space-grotesk);
  color: var(--color-primary-blue);
  text-align: right;
  display: flex;
  align-items: center;
}
.groupIcon {
  top: 555px;
  left: 20px;
  width: 333px;
  height: 66px;
}
.rectangleIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.continue {
  position: absolute;
  top: calc(50% - 10.6px);
  left: 36.54%;
  font-size: var(--font-size-base);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-space-grotesk);
  color: var(--background-dropdown-background-color);
  text-align: center;
  z-index: 1;
}
.rectangleDiv,
.rectangleGroup {
  position: absolute;
  border-radius: var(--br-sm);
}
.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-primary-blue);
  top: 665px;
  left: 169px;
  width: 185px;
  height: 58px;
  z-index: 3;
}
.rectangleDiv {
  top: 0;
  left: 0;
  background-color: var(--background-dropdown-background-color);
  border: 1px solid var(--butt3);
  box-sizing: border-box;
  width: 131px;
  height: 59px;
  display: none;
}
.continue1 {
  position: absolute;
  top: calc(50% - 10.1px);
  left: 29.92%;
  font-size: var(--font-size-base);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-space-grotesk);
  color: var(--color-typography-title);
  text-align: center;
  z-index: 1;
}
.rectangleContainer {
  cursor: pointer;
  border: 1px solid var(--butt3);
  padding: 0;
  background-color: var(--background-dropdown-background-color);
  position: absolute;
  top: 665px;
  left: 20px;
  border-radius: var(--br-sm);
  box-sizing: border-box;
  width: 130px;
  height: 58px;
  z-index: 3;
}
.filter1 {
  margin: 0;
  position: absolute;
  top: 28.4px;
  left: 19.6px;
  font-size: var(--font-size-6xl);
  line-height: 133.33%;
  font-weight: 300;
  font-family: var(--font-space-grotesk);
  color: var(--butt3);
  text-align: left;
  display: flex;
  align-items: center;
  z-index: 3;
}
.frameChild1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--background-dropdown-background-color);
  border: 1px solid var(--butt3);
  box-sizing: border-box;
  width: 334px;
  height: 60px;
  display: none;
}
.vectorIcon {
  top: 25px;
  left: 311px;
  width: 4.5px;
  height: 9px;
}
.frameChild2,
.milanItaly,
.vectorIcon {
  position: absolute;
  z-index: 1;
}
.milanItaly {
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-space-grotesk);
  font-size: var(--font-size-base);
  background-color: transparent;
  top: 18px;
  left: 71px;
  line-height: 25px;
  color: #141736;
  text-align: left;
  display: flex;
  align-items: center;
}
.frameChild2 {
  top: 8px;
  left: 8px;
  width: 45px;
  height: 45px;
}
.rectangleParent1 {
  position: absolute;
  top: 422px;
  left: 20px;
  border-radius: var(--br-mini);
  background-color: var(--background-dropdown-background-color);
  border: 1px solid var(--butt3);
  box-sizing: border-box;
  width: 334px;
  height: 60px;
  z-index: 3;
}
.location,
.timeDate {
  position: absolute;
  top: 375.4px;
  left: 19.6px;
  font-size: var(--font-size-base);
  line-height: 34px;
  font-weight: 500;
  font-family: var(--font-space-grotesk);
  color: var(--color-typography-title);
  text-align: left;
  display: flex;
  align-items: center;
  z-index: 3;
}
.timeDate {
  top: 206px;
  left: 20px;
  color: var(--butt3);
}
.frameChild3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--background-dropdown-background-color);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 81px;
  height: 42px;
  display: none;
}
.today {
  position: absolute;
  top: 8.4px;
  left: 17.6px;
  font-size: var(--font-size-mini);
  line-height: 25px;
  font-weight: 300;
  font-family: var(--font-space-grotesk);
  color: var(--color-gray-100);
  text-align: center;
  z-index: 1;
}
.frameChild4,
.groupButton {
  position: absolute;
  border-radius: var(--br-3xs);
  height: 42px;
}
.groupButton {
  cursor: pointer;
  border: 1px solid var(--color-gainsboro-100);
  padding: 0;
  background-color: var(--background-dropdown-background-color);
  top: 252px;
  left: 20px;
  box-sizing: border-box;
  width: 81px;
  z-index: 3;
}
.frameChild4 {
  top: 0;
  left: 0;
  background-color: var(--color-primary-blue);
  width: 110px;
  display: none;
}
.tomorrow {
  position: absolute;
  top: 8.4px;
  left: 19.6px;
  font-size: var(--font-size-mini);
  line-height: 25px;
  font-weight: 300;
  font-family: var(--font-space-grotesk);
  color: var(--background-dropdown-background-color);
  text-align: center;
  z-index: 1;
}
.frameChild5,
.rectangleParent2 {
  position: absolute;
  border-radius: var(--br-3xs);
  height: 42px;
}
.rectangleParent2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-primary-blue);
  top: 252px;
  left: 113px;
  width: 110px;
  z-index: 3;
}
.frameChild5 {
  top: 0;
  left: 0;
  background-color: var(--background-dropdown-background-color);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 107px;
  display: none;
}
.thisWeek {
  position: absolute;
  top: 8.4px;
  left: 14.6px;
  font-size: var(--font-size-mini);
  line-height: 25px;
  font-weight: 300;
  font-family: var(--font-space-grotesk);
  color: var(--color-gray-100);
  text-align: center;
  z-index: 1;
}
.frameChild6,
.rectangleParent3 {
  position: absolute;
  border-radius: var(--br-3xs);
  background-color: var(--background-dropdown-background-color);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 42px;
}
.rectangleParent3 {
  cursor: pointer;
  padding: 0;
  top: 252px;
  left: 235px;
  width: 107px;
  z-index: 3;
}
.frameChild6 {
  top: 0;
  left: 0;
  width: 241px;
  display: none;
}
.chooseFromCalendar {
  position: absolute;
  top: 9px;
  left: 45px;
  font-size: var(--font-size-mini);
  line-height: 25px;
  font-weight: 300;
  font-family: var(--font-space-grotesk);
  color: var(--color-gray-100);
  text-align: center;
  z-index: 1;
}
.calendarIcon {
  position: absolute;
  height: 55.48%;
  width: 8.71%;
  top: 21.43%;
  right: 85.48%;
  bottom: 23.1%;
  left: 5.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.frameChild7 {
  position: absolute;
  top: 17px;
  left: 216px;
  width: 4.5px;
  height: 9px;
  z-index: 1;
}
.rectangleParent4 {
  position: absolute;
  top: 308px;
  left: 20px;
  border-radius: var(--br-3xs);
  background-color: var(--background-dropdown-background-color);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 241px;
  height: 42px;
  z-index: 3;
}
.rectangleParent {
  margin: 0;
  position: absolute;
  top: 12.6px;
  left: 0.4px;
  border-radius: var(--br-19xl) var(--br-19xl) 0 0;
  background-color: var(--color-gray-200);
  width: 375px;
  height: 741px;
  z-index: 2;
}
.fRAMEBackground {
  width: 100%;
  height: 754px;
  position: absolute;
  margin: 0 !important;
  right: 0.4px;
  bottom: -0.4px;
  left: -0.4px;
}
.frameChild8 {
  height: 109px;
  width: 329px;
  position: relative;
  border-radius: var(--br-sm);
  background-color: var(--background-dropdown-background-color);
  display: none;
}
.rectangleIcon1 {
  height: 92px;
  width: 92.6px;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 92px;
}
.frameChild9,
.june900,
.rectangleIcon1 {
  position: relative;
  z-index: 1;
}
.june900 {
  align-self: stretch;
  width: 116px;
  line-height: 19.24px;
  font-weight: 500;
  display: inline-block;
}
.frameChild9 {
  height: 16px;
  width: 16.1px;
}
.june900PmParent {
  align-self: stretch;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.imGoingTo {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  color: var(--color-black);
  z-index: 1;
}
.frameParent1 {
  align-self: stretch;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.frameChild10,
.min {
  position: relative;
  z-index: 1;
}
.frameChild10 {
  height: 16px;
  width: 16px;
}
.min {
  align-self: stretch;
  flex: 1;
  font-weight: 300;
  white-space: pre-wrap;
}
.frameParent2 {
  width: 189px;
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  color: var(--color-darkgray-100);
}
.frameDiv,
.rectangleParent5 {
  flex: 1;
  align-items: flex-start;
}
.frameDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  min-width: 133px;
}
.rectangleParent5 {
  border-radius: var(--br-sm);
  background-color: var(--background-dropdown-background-color);
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-5xs) var(--padding-2xs) var(--padding-4xs)
    var(--padding-5xs);
  gap: var(--gap-xs);
}
.filter,
.filterInner,
.rectangleParent5 {
  display: flex;
  justify-content: flex-start;
}
.filterInner {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-4xl) 0 var(--padding-10xs);
  text-align: left;
  font-size: var(--mini-size);
  color: #3f38dd;
  font-family: var(--font-space-grotesk);
}
.filter {
  width: 100%;
  height: 812px;
  position: relative;
  background-color: #f6f7fb;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 153px 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: 640px;
}
