.walletMobChild,
.walletMobItem {
  position: absolute;
  margin: 0 !important;
  border-radius: 50%;
  filter: blur(100px);
}
.walletMobChild {
  width: 349px;
  right: -654px;
  bottom: -347px;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(185, 218, 251, 0.5) 0deg,
    rgba(236, 172, 173, 0.5) 95.99deg,
    rgba(152, 149, 238, 0.5) 206.25deg,
    rgba(144, 162, 248, 0.5) 292.5deg,
    rgba(197, 84, 146, 0.5) 360deg
  );
  height: 322px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  opacity: 0.5;
}
.walletMobItem {
  width: 189px;
  bottom: -105.9px;
  left: -107px;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(185, 203, 251, 0.5) 0deg,
    rgba(236, 172, 173, 0.5) 95.99deg,
    rgba(152, 149, 238, 0.5) 112.5deg,
    rgba(197, 84, 146, 0.5) 196.88deg,
    rgba(144, 162, 248, 0.5) 292.5deg
  );
  height: 173.9px;
  opacity: 0.4;
}
.g430Icon {
  position: absolute;
  top: 73.3px;
  left: 32.5px;
  width: 0;
  height: 1.4px;
  display: none;
}
.choosePaymentMethod {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 2;
}
.choosePaymentMethodWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-2xl);
}
.paymentMethodSelectorChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0.2px;
  right: 1.1px;
  bottom: 0.3px;
  left: -0.2px;
  border-radius: var(--br-8xs);
  background: linear-gradient(
    85.76deg,
    rgba(191, 196, 238, 0.09) 15.52%,
    #c367e6 58.75%,
    rgba(190, 206, 239, 0)
  );
  z-index: 1;
}
.path534Icon {
  height: 1.4px;
  width: 0;
  position: relative;
}
.paymentMethodSelector {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-10xl) 0 var(--padding-14xl);
  box-sizing: border-box;
  height: 100%;
}
.buttonFrame {
  height: 75px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.containerFrame {
  align-self: stretch;
  height: 139px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--background-dropdown-background-color);
  font-family: var(--font-space-grotesk);
}
.wrapperGroup18177Child {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 10px;
  transform: scale(2.207);
}
.wrapperGroup18177 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -0.1px;
  bottom: 0;
  left: 1.1px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.continue,
.continue1 {
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 1;
}
.continue1 {
  color: var(--color-gray-300);
  z-index: 2;
  margin-left: -149px;
}
.frameContinue {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
}
.ellipseSeparator {
  width: 227px;
  position: absolute;
  margin: 0 !important;
  top: -100px;
  left: -9.7px;
  border-radius: 50%;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(185, 218, 251, 0.2) 0deg,
    rgba(152, 149, 238, 0.2) 0.04deg,
    rgba(197, 84, 146, 0.2) 0.07deg,
    rgba(236, 172, 173, 0.2) 95.99deg
  );
  filter: blur(100px);
  height: 209px;
  opacity: 0.7;
  z-index: 3;
}
.buttonColor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lgi) 63px var(--padding-lgi) var(--padding-41xl);
  position: relative;
}
.wrapperGroup18177Item {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 10px;
  transform: scale(2.207);
}
.wrapperGroup181771 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -0.4px;
  bottom: 0;
  left: 0.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.continue2 {
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 1;
}
.buttonColor1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-lg) var(--padding-xl);
  position: relative;
}
.colorGroupFrame {
  width: 312px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-33xl);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--background-dropdown-background-color);
  font-family: var(--font-space-grotesk);
}
.icons8Star11,
.wallet {
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.icons8Star11 {
  height: 34px;
  width: 33px;
  top: 26.2px;
  left: 42.4px;
  overflow: hidden;
  flex-shrink: 0;
}
.wallet {
  right: 120.5px;
  bottom: 35px;
  display: inline-block;
  height: 12px;
}
.starIconFrame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--background-dropdown-background-color);
  font-family: var(--font-poppins);
}
.notchIcon {
  width: 0;
  height: 0;
  position: relative;
  object-fit: cover;
  display: none;
  z-index: 5;
}
.mobileSignalFrame {
  position: absolute;
  top: -0.4px;
  left: -0.2px;
  border-radius: 50%;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(185, 218, 251, 0.2) 0deg,
    rgba(152, 149, 238, 0.2) 0.04deg,
    rgba(197, 84, 146, 0.2) 0.07deg,
    rgba(236, 172, 173, 0.2) 95.99deg
  );
  filter: blur(100px);
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
.moreVerticalIcon {
  position: absolute;
  top: 139.5px;
  left: 116.3px;
  width: 22px;
  height: 22px;
  overflow: hidden;
  z-index: 1;
}
.battery,
.mobileSignalIcon,
.wifiIcon {
  position: absolute;
  top: 94.3px;
  z-index: 1;
}
.battery {
  margin: 0;
  left: 125.3px;
  width: 24.3px;
  height: 11.3px;
}
.mobileSignalIcon,
.wifiIcon {
  left: 105px;
  width: 15.3px;
  height: 11px;
}
.mobileSignalIcon {
  top: 94.6px;
  left: 83px;
  width: 17px;
  height: 10.7px;
}
.wifiFrame {
  height: 209px;
  flex: 1;
  position: relative;
}
.batteryFrame {
  width: 227px;
  margin: 0 !important;
  position: absolute;
  top: -74.6px;
  right: -50.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.recordingIndicatorIcon {
  width: 6px;
  height: 6px;
  position: relative;
  display: none;
  z-index: 7;
}
.frameChild {
  position: absolute;
  top: -0.4px;
  left: -0.2px;
  border-radius: 50%;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(185, 218, 251, 0.2) 0deg,
    rgba(152, 149, 238, 0.2) 285deg,
    rgba(236, 172, 173, 0.2) 359.96deg,
    rgba(197, 84, 146, 0.2) 360deg
  );
  filter: blur(100px);
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.arrowLeftIcon {
  position: absolute;
  top: 60px;
  left: 63.8px;
  width: 22px;
  height: 22px;
  overflow: hidden;
  z-index: 1;
}
.leftSideIcon {
  position: absolute;
  top: 14px;
  left: 62.3px;
  width: 54px;
  height: 21px;
  z-index: 1;
}
.ellipseParent {
  height: 174px;
  flex: 1;
  position: relative;
}
.walletMob,
.walletMobInner {
  display: flex;
  align-items: center;
}
.walletMobInner {
  width: 189px;
  margin: 0 !important;
  position: absolute;
  top: 0.4px;
  left: -53.8px;
  flex-direction: row;
  justify-content: center;
}
.walletMob {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-300);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 131px 0 var(--padding-12xs);
  box-sizing: border-box;
  gap: 131px;
  letter-spacing: normal;
}
@media screen and (max-width: 450px) {
  .buttonColor {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .colorGroupFrame {
    gap: var(--gap-33xl);
  }
}
