.buy {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-poppins);
  color: var(--butt3);
  text-align: left;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-9xs) var(--padding-8xs);
  background-color: transparent;
  width: 93px;
  border-radius: var(--br-8xs);
  background: linear-gradient(
    85.76deg,
    rgba(191, 196, 238, 0.09) 15.52%,
    #c367e6 58.75%,
    rgba(190, 206, 239, 0)
  );
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
