.heading,
.xIcon {
  position: relative;
}
.heading {
  flex: 1;
  line-height: 44.81px;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.xIcon {
  height: 44.8px;
  width: 44.8px;
  overflow: hidden;
  flex-shrink: 0;
}
.modalsdismissButton {
  margin: 0 !important;
  position: absolute;
  top: -15.1px;
  right: 325.8px;
  border-radius: var(--br-xs-2);
  background-color: var(--background-dropdown-background-color);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.frameWrapper,
.headingParent,
.modalsdismissButton {
  display: flex;
  flex-direction: row;
}
.headingParent {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.frameWrapper {
  width: 867px;
  align-items: center;
  justify-content: center;
  max-width: 152%;
  flex-shrink: 0;
}
.connectWalletInner {
  width: 572px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-14xl-6);
}
.titleFont {
  position: relative;
  line-height: 44.81px;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 29.9px;
}
.metamaskIcon {
  height: 112px;
  width: 112px;
  position: relative;
}
.informationCircleIcon,
.networks {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.informationCircleIcon {
  height: 29.9px;
  width: 29.9px;
  right: 194.4px;
  bottom: 38.9px;
  overflow: hidden;
  flex-shrink: 0;
}
.networks {
  bottom: 25.7px;
  left: 199.6px;
  font-size: var(--font-size-7xl-1);
  line-height: 44.81px;
  font-weight: 500;
  color: var(--controls-neutral-control-layer-color-60);
  mix-blend-mode: normal;
}
.metamask {
  flex: 1;
  border-radius: var(--br-xs-2);
  background-color: var(--controls-neutral-control-color-40);
  box-shadow: 0 1.9px 3.73px rgba(0, 0, 0, 0.05);
  border: 1.9px solid var(--controls-neutral-control-color-70);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-7xl) 0 var(--padding-6xl);
  position: relative;
  gap: var(--gap-xl);
}
.connectWalletChild,
.metamask,
.metamaskWrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.metamaskWrapper {
  flex: 1;
  align-items: center;
  justify-content: center;
}
.connectWalletChild {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 0 var(--padding-lg);
  box-sizing: border-box;
}
.titleFont1 {
  width: 288.2px;
  position: relative;
  line-height: 44.81px;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 29.9px;
  flex-shrink: 0;
}
.walletconnectChild {
  height: 44.8px;
  width: 71px;
  position: relative;
}
.walletconnect,
.walletconnectWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.walletconnect {
  flex: 1;
  border-radius: var(--br-xs-2);
  background-color: var(--controls-neutral-control-color-40);
  box-shadow: 0 1.9px 3.73px rgba(0, 0, 0, 0.05);
  border: 1.9px solid var(--controls-neutral-control-color-70);
  box-sizing: border-box;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-15xl) var(--padding-30xl) var(--padding-15xl)
    var(--padding-6xl);
  gap: var(--gap-xl);
}
.walletconnectWrapper {
  align-self: stretch;
  justify-content: center;
}
.byConnectingA,
.termsOfService {
  font-weight: 500;
  display: inline-block;
  mix-blend-mode: normal;
}
.byConnectingA {
  align-self: stretch;
  height: 90px;
  position: relative;
  line-height: 44.81px;
}
.termsOfService {
  height: 33.6px;
  position: absolute;
  margin: 0 !important;
  bottom: 11.5px;
  left: 148.3px;
  line-height: 59.75px;
  color: var(--controls-secondary-control-color-60);
  z-index: 1;
}
.byConnectingAWalletYouAgParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: var(--font-size-7xl-1);
  color: var(--controls-neutral-control-layer-color-60);
}
.connectWallet,
.frameDiv,
.frameParent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-7xl);
}
.connectWallet,
.frameDiv {
  box-sizing: border-box;
}
.frameDiv {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-lgi) 0 var(--padding-lg);
}
.connectWallet {
  width: 616px;
  border-radius: 14.94px;
  background-color: var(--background-dropdown-background-color);
  box-shadow: 0 37.3px 46.68px -9.34px rgba(0, 0, 0, 0.1),
    0 18.7px 18.67px -9.34px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-26xl) 0 var(--padding-39xl) var(--padding-7xl);
  gap: var(--gap-14xl);
  min-width: 616px;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-10xl-9);
  color: var(--text-color-100);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1125px) {
  .connectWallet {
    flex: 1;
  }
}
@media screen and (max-width: 1025px) {
  .heading {
    font-size: var(--font-size-8xl);
    line-height: 36px;
  }
  .connectWallet {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .walletconnect {
    flex-wrap: wrap;
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .connectWallet {
    gap: var(--gap-14xl);
    padding-top: var(--padding-10xl);
    padding-bottom: var(--padding-19xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--font-size-xl);
    line-height: 27px;
  }
  .networks,
  .titleFont {
    font-size: var(--font-size-5xl);
    line-height: 36px;
  }
  .networks {
    font-size: var(--font-size-2xl);
  }
  .metamask {
    flex-wrap: wrap;
  }
  .titleFont1 {
    font-size: var(--font-size-5xl);
    line-height: 36px;
  }
  .byConnectingA,
  .termsOfService {
    font-size: var(--font-size-2xl);
    line-height: 36px;
  }
  .termsOfService {
    line-height: 48px;
  }
}
