.frameChild {
  height: 47px;
  width: 71px;
  position: relative;
  border-radius: var(--br-8xs);
  object-fit: cover;
}
.reeceJackson {
  font-weight: 500;
}
.eth,
.frameItem,
.reeceJackson {
  position: relative;
}
.frameItem {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  object-fit: cover;
}
.eth {
  font-weight: 500;
}
.ellipseParent,
.rectangleParent,
.reeceJacksonParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.rectangleParent,
.reeceJacksonParent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.rectangleParent {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-6xs);
}
.icon {
  width: 20px;
  height: 2.5px;
  position: relative;
}
.frameParent,
.iconWrapper {
  display: flex;
  box-sizing: border-box;
}
.iconWrapper {
  height: 6px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
}
.frameParent {
  width: 294px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-lgi) var(--padding-6xs)
    var(--padding-5xs);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xs);
  color: var(--background-dropdown-background-color);
  font-family: var(--font-dm-mono);
}
