.calendar92342421Icon {
  width: 83px;
  height: 84px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.chooseTheEvent {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.clickOnIt,
.cryptoOrCredit,
.participateInAmong,
.proceedWithEntering,
.searchForThe {
  margin: 0;
}
.searchForTheContainer {
  position: relative;
  font-size: var(--font-size-3xs);
  font-weight: 500;
  font-family: var(--font-poppins);
  text-align: center;
}
.calendar92342421Parent,
.frameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.calendar92342421Parent {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-2xl) var(--padding-smi) var(--padding-9xl);
  gap: var(--gap-mini);
}
.frameWrapper {
  flex: 1;
  align-items: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 219px;
}
.createOrConnect {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.connectYourWallet,
.createOneQuickly,
.ifYouChoose,
.newWalletAnd,
.paymentMethod,
.youJustHave {
  margin: 0;
}
.ifYouChooseContainer {
  position: relative;
  font-weight: 500;
  white-space: pre-wrap;
}
.ifYouChooseCryptocurrenciesWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi) 0 var(--padding-8xs);
  text-align: center;
  font-size: var(--font-size-3xs);
  font-family: var(--font-space-grotesk);
}
.wallet101415651Icon {
  width: 84px;
  height: 84px;
  position: absolute;
  margin: 0 !important;
  top: 21px;
  left: calc(50% - 42px);
  overflow: hidden;
  flex-shrink: 0;
}
.createOrConnectTheWalletParent {
  flex: 0.8905;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-103xl) var(--padding-sm) var(--padding-3xl)
    var(--padding-3xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-mid);
  min-width: 216px;
}
.ticket60302311Icon {
  width: 88px;
  height: 88px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.enjoyTheEvent {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.andYourTicket,
.dontForgetTo,
.oncePaymentHas,
.youWillReceive {
  margin: 0;
}
.oncePaymentHasContainer {
  position: relative;
  font-size: var(--font-size-3xs);
  font-weight: 500;
  font-family: var(--font-space-grotesk);
  text-align: center;
}
.frameParent,
.ticket60302311Parent {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.ticket60302311Parent {
  flex: 0.6431;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-mid) var(--padding-35xl) var(--padding-32xl)
    var(--padding-33xl);
  box-sizing: border-box;
  min-width: 216px;
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  min-height: 272px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--background-dropdown-background-color);
  font-family: var(--font-dm-mono);
}
@media screen and (max-width: 950px) {
  .frameParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .createOrConnectTheWalletParent {
    flex: 1;
  }
  .ticket60302311Parent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
    flex: 1;
  }
}
