.connectWallet {
  position: relative;
  font-size: var(--font-size-3xs);
  font-family: var(--font-space-grotesk);
  color: var(--butt3);
  text-align: left;
}
.connectWalletWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-4xs)
    var(--padding-4xs);
  background-color: transparent;
  border-radius: var(--br-8xs);
  background: linear-gradient(
    85.76deg,
    rgba(191, 196, 238, 0.09) 15.52%,
    #c367e6 58.75%,
    rgba(190, 206, 239, 0)
  );
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.connectYourWallet {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(180deg, #b469d8, rgba(180, 105, 216, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.connectYourWalletWrapper,
.frameGroup {
  display: flex;
  justify-content: flex-start;
}
.connectYourWalletWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.frameGroup {
  width: 552px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-9xs);
  max-width: 100%;
}
.frameContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.buyYourTicket {
  margin: 0;
  height: 46px;
  position: relative;
  font-size: var(--font-size-17xl);
  font-weight: 500;
  font-family: var(--font-space-grotesk);
  display: inline-block;
  max-width: 100%;
}
.frameParent,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 670px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--background-dropdown-background-color);
  font-family: var(--font-dm-mono);
}
@media screen and (max-width: 950px) {
  .buyYourTicket {
    font-size: var(--font-size-10xl);
  }
}
@media screen and (max-width: 450px) {
  .buyYourTicket {
    font-size: var(--font-size-3xl);
  }
}
