.buyYourTickets,
.topEventsOf {
  margin: 0;
  position: relative;
  font-weight: 500;
}
.buyYourTickets {
  font-size: inherit;
  font-family: inherit;
  background: linear-gradient(180deg, #b469d8, rgba(180, 105, 216, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.topEventsOf {
  height: 46px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-space-grotesk);
  display: inline-block;
}
.buyYourTicketsParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.frameChild,
.image3Icon {
  position: absolute;
  top: 0;
  left: 1px;
  border-radius: var(--br-8xs);
  width: 70px;
  height: 45.2px;
  object-fit: cover;
}
.frameChild {
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.image3Parent {
  height: 47px;
  width: 71px;
  position: relative;
}
.rickStorms {
  font-weight: 500;
}
.eth,
.frameItem,
.rickStorms {
  position: relative;
}
.frameItem {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  object-fit: cover;
}
.eth {
  font-weight: 500;
}
.ellipseParent,
.rickStormsParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.rickStormsParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.icon {
  width: 20px;
  height: 2.5px;
  position: relative;
  z-index: 2;
}
.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-6xl);
}
.frameParent1,
.frameParent2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frameParent2 {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-4xs) var(--padding-smi) var(--padding-6xs)
    var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-6xs);
  min-width: 216px;
}
.frameParent1 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-xs);
}
.frameInner,
.image3Icon1 {
  position: absolute;
  top: 0;
  left: 1px;
  border-radius: var(--br-8xs);
  width: 70px;
  height: 45.2px;
  object-fit: cover;
}
.frameInner {
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.image3Group {
  height: 47px;
  width: 71px;
  position: relative;
}
.joeForest {
  position: relative;
  font-weight: 500;
}
.ellipseIcon {
  height: 8px;
  width: 8px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.eth1 {
  position: relative;
  font-weight: 500;
}
.ellipseGroup,
.joeForestParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.joeForestParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.icon1 {
  width: 20px;
  height: 2.5px;
  position: relative;
}
.frameParent4,
.iconContainer {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.iconContainer {
  height: 7px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-10xs) 0;
}
.frameParent4 {
  width: 288px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-4xs) var(--padding-xs) var(--padding-6xs)
    var(--padding-5xs);
  gap: var(--gap-6xs);
}
.rectangleIcon {
  height: 47px;
  width: 71px;
  position: relative;
  border-radius: var(--br-8xs);
  object-fit: contain;
}
.laraSmith {
  position: relative;
  font-weight: 500;
}
.frameChild1 {
  height: 8px;
  width: 8px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.eth2 {
  position: relative;
  font-weight: 500;
}
.ellipseContainer,
.laraSmithParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.laraSmithParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.icon2 {
  width: 20px;
  height: 2.5px;
  position: relative;
}
.iconFrame,
.rectangleParent {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.iconFrame {
  height: 6px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-10xs);
}
.rectangleParent {
  width: 288px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-4xs) var(--padding-smi) var(--padding-6xs)
    var(--padding-5xs);
  gap: var(--gap-6xs);
}
.frameParent3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 30px 13px;
  min-height: 156px;
}
.frameContainer,
.frameDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameDiv {
  align-items: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--font-size-5xs);
}
.frameContainer {
  align-items: center;
  gap: var(--gap-20xl);
  max-width: 100%;
}
.seeOthers {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-space-grotesk);
  color: var(--butt3);
  text-align: left;
}
.frameGroup,
.seeOthersWrapper {
  display: flex;
  align-items: center;
}
.seeOthersWrapper {
  cursor: pointer;
  border: 1px solid var(--background-dropdown-background-color);
  padding: var(--padding-3xs) var(--padding-9xl) var(--padding-3xs)
    var(--padding-12xl);
  background-color: transparent;
  border-radius: var(--br-8xs);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
}
.createYourWalletWrapper:hover,
.seeOthersWrapper:hover {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.frameGroup {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-25xl);
  max-width: 100%;
}
.dontHaveA {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.dontWorryClick,
.youCanChoose {
  margin: 0;
}
.dontWorryClickContainer {
  margin: 0;
  position: relative;
  font-size: var(--mini-size);
  font-weight: 500;
  font-family: var(--font-poppins);
  text-align: center;
}
.dontHaveAWalletYetParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  max-width: 100%;
  flex-shrink: 0;
}
.createYourWallet {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-space-grotesk);
  color: var(--butt3);
  text-align: left;
}
.createYourWalletWrapper {
  cursor: pointer;
  border: 1px solid var(--background-dropdown-background-color);
  padding: var(--padding-3xs) var(--padding-2xl) var(--padding-3xs)
    var(--padding-7xl);
  background-color: transparent;
  border-radius: var(--br-8xs);
  background: linear-gradient(
    85.76deg,
    rgba(191, 196, 238, 0.09) 15.52%,
    #c367e6 58.75%,
    rgba(190, 206, 239, 0)
  );
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.frameParent,
.frameParent5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frameParent5 {
  align-self: stretch;
  background-color: var(--color-darkslategray-300);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-41xl) var(--padding-xl) var(--padding-43xl)
    var(--padding-2xl);
  gap: var(--gap-5xl);
  font-size: var(--font-size-5xl);
  font-family: var(--font-space-grotesk);
}
.frameParent {
  width: 905px;
  align-items: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-34xl);
  min-height: 826px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--background-dropdown-background-color);
  font-family: var(--font-dm-mono);
}
@media screen and (max-width: 950px) {
  .topEventsOf {
    font-size: var(--font-size-10xl);
  }
  .frameParent1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .topEventsOf {
    font-size: var(--font-size-3xl);
  }
  .frameContainer {
    gap: var(--gap-20xl);
  }
  .frameGroup {
    gap: var(--gap-25xl);
  }
  .dontHaveA {
    font-size: var(--font-size-lgi);
  }
  .frameParent {
    gap: var(--gap-34xl);
  }
}
