.imageRemovebgPreview6Icon {
  align-self: stretch;
  height: 50px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.mainContentParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
  min-width: 94px;
}
.imageRemovebgPreview121 {
  height: 50px;
  width: 135.7px;
  position: relative;
  object-fit: cover;
  min-height: 50px;
}
.imageRemovebgPreview131 {
  align-self: stretch;
  height: 50px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.expandArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 94px;
}
.imageRemovebgPreview71 {
  height: 50px;
  width: 135.7px;
  position: relative;
  object-fit: cover;
  min-height: 50px;
}
.logoFrameChainblock,
.textFrameLogo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.logoFrameChainblock {
  width: 658px;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-14xl);
}
.textFrameLogo {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs);
  flex-shrink: 0;
}
.exploreEvents,
.music {
  position: relative;
  font-weight: 500;
}
.exploreEvents {
  align-self: stretch;
  background: linear-gradient(
    85.76deg,
    rgba(191, 196, 238, 0.09) 15.52%,
    #c367e6 58.75%,
    rgba(190, 206, 239, 0)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
.music {
  margin: 0;
  height: 28px;
  font-size: var(--font-size-3xl);
  font-family: var(--font-space-grotesk);
  display: inline-block;
}
.headerContainer,
.infoCardFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}
.infoCardFrame {
  width: 153px;
  gap: var(--gap-17xl);
}
.headerContainer {
  align-self: stretch;
  padding: 0 0 var(--padding-6xs);
  box-sizing: border-box;
  gap: var(--gap-14xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--background-dropdown-background-color);
  font-family: var(--font-dm-mono);
}
@media screen and (max-width: 700px) {
  .expandArea,
  .mainContentParent {
    flex: 1;
  }
  .logoFrameChainblock {
    flex-wrap: wrap;
    gap: var(--gap-14xl);
  }
}
@media screen and (max-width: 450px) {
  .music {
    font-size: var(--font-size-lg);
  }
  .headerContainer {
    gap: var(--gap-14xl);
  }
}
