.rectangleFrameIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.anastasia,
.theNewMusical {
  position: relative;
}
.theNewMusical {
  font-size: var(--font-size-sm);
}
.anastasiaParent,
.newMusicalFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.newMusicalFrame {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-18xl);
}
.price,
.priceFrameChild {
  position: relative;
}
.priceFrameChild {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  object-fit: cover;
}
.eth {
  position: relative;
  font-weight: 500;
}
.eTHIcon,
.priceFrame {
  display: flex;
  justify-content: flex-start;
}
.priceFrame {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-6xs);
}
.eTHIcon {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-9xs);
  font-size: var(--font-size-sm);
  color: var(--background-dropdown-background-color);
}
.sportCardFrame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-xs);
  color: var(--color-dimgray-100);
  font-family: var(--font-dm-mono);
}
.primaryContent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-6xs);
}
.infoCard,
.innerCardFrame,
.primaryContent {
  display: flex;
  justify-content: flex-start;
}
.innerCardFrame {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-lg) 0 var(--padding-7xl);
}
.infoCard {
  height: 345px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 0 0 var(--padding-8xl);
  box-sizing: border-box;
  gap: var(--gap-4xl);
}
.infoCardChild {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.anastasia1,
.infoCardChild,
.theNewMusical1 {
  position: relative;
}
.theNewMusical1 {
  font-size: var(--font-size-sm);
}
.anastasiaGroup,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-18xl);
}
.price1,
.priceFrameItem {
  position: relative;
}
.priceFrameItem {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  object-fit: cover;
}
.eth1 {
  position: relative;
  font-weight: 500;
}
.eTHIcon1,
.priceFrame1 {
  display: flex;
  justify-content: flex-start;
}
.priceFrame1 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-6xs);
}
.eTHIcon1 {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-9xs);
  font-size: var(--font-size-sm);
  color: var(--background-dropdown-background-color);
}
.sportCardFrame1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-xs);
  color: var(--color-dimgray-100);
  font-family: var(--font-dm-mono);
}
.primaryContent1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-6xs);
}
.infoCard1,
.innerCardFrame1,
.primaryContent1 {
  display: flex;
  justify-content: flex-start;
}
.innerCardFrame1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-lg) 0 var(--padding-7xl);
}
.infoCard1 {
  height: 345px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 0 0 var(--padding-8xl);
  box-sizing: border-box;
  gap: var(--gap-4xl);
}
.infoCardItem {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.anastasia2,
.infoCardItem,
.theNewMusical2 {
  position: relative;
}
.theNewMusical2 {
  font-size: var(--font-size-sm);
}
.anastasiaContainer,
.frameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-17xl);
}
.frameChild,
.price2 {
  position: relative;
}
.frameChild {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  object-fit: cover;
}
.eth2 {
  position: relative;
  font-weight: 500;
}
.ellipseParent,
.frameWrapper {
  display: flex;
  justify-content: flex-start;
}
.ellipseParent {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
}
.frameWrapper {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-9xs);
  font-size: var(--font-size-sm);
  color: var(--background-dropdown-background-color);
}
.priceParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-xs);
  color: var(--color-dimgray-100);
  font-family: var(--font-dm-mono);
}
.frameGroup,
.innerCardFrame2 {
  display: flex;
  align-items: flex-start;
}
.frameGroup {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.innerCardFrame2 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-lg) 0 var(--padding-7xl);
}
.infoCard2,
.innerCardFrame2,
.musicCards {
  justify-content: flex-start;
}
.infoCard2 {
  height: 345px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 var(--padding-8xl);
  box-sizing: border-box;
  gap: var(--gap-4xl);
}
.musicCards {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-11xl);
  flex-shrink: 0;
  grid-template-columns: repeat(3, minmax(214px, 1fr));
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--background-dropdown-background-color);
  font-family: var(--font-space-grotesk);
}
@media screen and (max-width: 900px) {
  .musicCards {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(214px, 372px));
  }
}
@media screen and (max-width: 450px) {
  .musicCards {
    grid-template-columns: minmax(214px, 1fr);
  }
}
