.explore {
  position: relative;
  text-decoration: underline;
}
.buyTickets,
.createWallet {
  position: relative;
  white-space: nowrap;
  cursor: pointer;
}
.community,
.search1 {
  position: relative;
}
.search1 {
  width: 34px;
  border: 0;
  outline: 0;
  font-family: var(--font-space-grotesk);
  font-size: var(--font-size-3xs);
  background-color: transparent;
  height: 13px;
  color: var(--butt3);
  text-align: left;
  display: inline-block;
}
.anastasiaCardIcon,
.priceIcon {
  position: absolute;
  top: 0.4px;
  left: -0.4px;
  width: 8.9px;
  height: 8.9px;
}
.priceIcon {
  top: 8px;
  left: 7.2px;
  width: 2.4px;
  height: 2.4px;
}
.anastasiaCardParent {
  height: 10px;
  width: 10px;
  position: relative;
}
.menuHome,
.search {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.search {
  border-radius: var(--br-8xs);
  border: 1px solid var(--butt3);
  overflow: hidden;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-4xs) var(--padding-4xs)
    var(--padding-6xs);
  gap: var(--gap-xl);
}
.menuHome {
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  max-width: 100%;
}
.connectWallet {
  height: 21px;
  position: relative;
  font-size: var(--font-size-sm);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--butt3);
  text-align: left;
}
.button,
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.button {
  border: 0;
  padding: var(--padding-4xs) var(--padding-8xl) var(--padding-3xs)
    var(--padding-11xl);
  background-color: transparent;
  border-radius: var(--br-8xs);
  background: linear-gradient(
    85.76deg,
    rgba(191, 196, 238, 0.09) 15.52%,
    #c367e6 58.75%,
    rgba(190, 206, 239, 0)
  );
  overflow: hidden;
  justify-content: center;
  white-space: nowrap;
}
.nav {
  width: 824px;
  justify-content: flex-start;
  gap: var(--gap-7xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--butt3);
  font-family: var(--font-space-grotesk);
}
@media screen and (max-width: 900px) {
  .menuHome {
    display: none;
  }
  .nav {
    width: 197px;
  }
}
