.sport,
.viewMore {
  position: relative;
  font-weight: 500;
}
.sport {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.viewMore {
  font-size: var(--font-size-xs);
  font-family: var(--font-poppins);
  color: var(--background-dropdown-background-color);
  text-align: left;
}
.viewMoreWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-18xl) var(--padding-6xs)
    var(--padding-19xl);
  background-color: var(--color-darkslategray-100);
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.viewMoreWrapper:hover {
  background-color: var(--color-dimgray-200);
}
.overallHeader {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-24xl);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--background-dropdown-background-color);
  font-family: var(--font-space-grotesk);
}
@media screen and (max-width: 450px) {
  .sport {
    font-size: var(--font-size-lg);
  }
  .overallHeader {
    gap: var(--gap-24xl);
  }
}
