.frameChild,
.frameItem {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -0.4px;
  right: 0.5px;
  bottom: 0.4px;
  left: -0.5px;
}
.frameChild {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frameItem {
  background: linear-gradient(180deg, #000, #000 0.01%, transparent);
  z-index: 1;
}
.frameGroup {
  width: calc(100% - 4px);
  height: calc(100% - 1px);
  position: absolute;
  margin: 0 !important;
  top: 0.4px;
  right: 3.5px;
  bottom: 0.6px;
  left: 0.5px;
}
.leftSideIcon {
  height: 21px;
  width: 54px;
  position: relative;
  z-index: 2;
}
.mobileSignalIcon {
  height: 10.7px;
  width: 17px;
}
.battery,
.mobileSignalIcon,
.wifiIcon {
  position: relative;
  z-index: 2;
}
.wifiIcon {
  height: 11px;
  width: 15.3px;
  min-height: 11px;
}
.battery {
  margin: 0;
  height: 11.3px;
  width: 24.3px;
}
.mobileSignalParent {
  height: 11px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.leftSideParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frameInner {
  position: absolute;
  top: -0.4px;
  left: -0.5px;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-400);
  backdrop-filter: blur(10px);
  width: 56px;
  height: 40px;
  display: none;
}
.icons8Left1 {
  position: absolute;
  top: 7.6px;
  left: 15.5px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index: 3;
}
.rectangleDiv,
.rectangleParent {
  height: 40px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-400);
  backdrop-filter: blur(10px);
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  width: 56px;
  z-index: 2;
}
.rectangleDiv {
  width: 96px;
  display: none;
}
.icons8HeartOutline1,
.icons8ShareRounded1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
  z-index: 3;
}
.frameDiv,
.rectangleGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangleGroup {
  border-radius: var(--br-mini);
  background-color: var(--color-gray-400);
  backdrop-filter: blur(10px);
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-mid);
  z-index: 2;
}
.frameDiv {
  flex: 1;
  justify-content: space-between;
}
.frameContainer,
.frameWrapper {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.frameWrapper {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-mid) 0 var(--padding-3xs);
}
.frameContainer {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-mid);
}
.musical {
  position: absolute;
  top: 0;
  left: 5px;
  letter-spacing: 0.1em;
  z-index: 2;
}
.anastasia,
.starting910Pm {
  position: relative;
  z-index: 2;
}
.anastasia {
  margin: 0;
  height: 45px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.starting910Pm {
  letter-spacing: 0.1em;
}
.anastasiaLabel,
.decText {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.decText {
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  font-size: var(--mini-size);
  color: var(--color-gray-500);
  font-family: var(--font-space-grotesk);
}
.anastasiaLabel {
  flex-direction: column;
  gap: var(--gap-9xs);
}
.frameChild1 {
  width: 60px;
  height: 60px;
  border-radius: var(--br-mini);
  background-color: var(--background-dropdown-background-color);
  backdrop-filter: blur(10px);
  display: none;
}
.buyTicketButton,
.dec,
.frameChild1 {
  position: relative;
  z-index: 1;
}
.dec {
  letter-spacing: 0.1em;
}
.buyTicketButton {
  height: 32px;
  font-size: var(--font-size-7xl);
  display: inline-block;
  color: var(--color-darkslategray-300);
  margin-top: -3px;
}
.rectangleContainer {
  border-radius: var(--br-mini);
  background-color: var(--background-dropdown-background-color);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-lgi) var(--padding-6xs)
    var(--padding-mini);
  z-index: 2;
  font-size: var(--mini-size);
  color: var(--color-gray-600);
  font-family: var(--mini);
}
.musicFrame {
  position: absolute;
  top: 14px;
  left: 0;
  width: 318px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--font-size-11xl);
  color: var(--background-dropdown-background-color);
  font-family: var(--font-poppins);
}
.musicalParent {
  height: 80px;
  flex: 1;
  position: relative;
}
.frameParent,
.frameWrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 0 var(--padding-7xs);
}
.frameParent {
  flex-direction: column;
  align-items: center;
  padding: var(--padding-xs) var(--padding-mini) var(--padding-smi)
    var(--padding-2xl);
  position: relative;
  gap: var(--gap-174xl);
  text-align: left;
  font-size: var(--mini-size);
  color: var(--color-gray-500);
  font-family: var(--font-space-grotesk);
}
