@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Product+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-space-grotesk: "Space Grotesk";
  --font-poppins: Poppins;
  --font-dm-mono: "DM Mono";
  --font-inter: Inter;
  --mini: "Product Sans";
  --font-open-sans: "Open Sans";

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --mini-size: 13px;
  --font-size-8xl-4: 27.4px;
  --font-size-3xl: 22px;
  --font-size-xs: 12px;
  --font-size-lg: 18px;
  --font-size-3xs: 10px;
  --font-size-5xs: 8px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --font-size-41xl: 60px;
  --font-size-29xl: 48px;
  --font-size-2xl-2: 21.2px;
  --font-size-mid: 17px;
  --font-size-base-7: 16.7px;
  --font-size-7xl-1: 26.1px;
  --font-size-2xl: 21px;
  --font-size-10xl-9: 29.9px;
  --font-size-5xl: 24px;
  --font-size-14xl-6: 33.6px;
  --font-size-8xl: 27px;
  --font-size-11xl: 30px;
  --font-size-7xl: 26px;
  --font-size-mini: 15px;
  --font-size-6xl: 25px;
  --font-size-lgi: 19px;

  /* Colors */
  --color-gray-100: #807a7a;
  --color-gray-200: #1d243e;
  --color-gray-300: #1c233d;
  --color-typography-title: #120d26;
  --text-color-100: #070707;
  --color-gray-400: rgba(0, 0, 0, 0.3);
  --color-gray-500: rgba(255, 255, 255, 0.5);
  --color-gray-600: rgba(0, 0, 0, 0.5);
  --color-gray-700: rgba(255, 255, 255, 0.8);
  --text-color-60: #737373;
  --color-dimgray-200: #575e73;
  --color-dimgray-100: #545c71;
  --background-dropdown-background-color: #fff;
  --color-fuchsia: #fa24fa;
  --color-darkslategray-100: #30384d;
  --color-darkslategray-200: #343434;
  --color-darkslategray-300: #1e2b4b;
  --color-gainsboro-100: #e6e6e6;
  --butt3: #e5e5e5;
  --controls-divider-color-20: #e1e3e7;
  --controls-neutral-control-color-70: #dbdde5;
  --text-2nd-lightest: #ddddde;
  --color-gainsboro-200: rgba(230, 230, 230, 0.09);
  --color-lightsteelblue: rgba(191, 196, 238, 0.1);
  --controls-secondary-control-color-60: #2563eb;
  --controls-neutral-control-layer-color-60: #5a6689;
  --controls-neutral-control-color-40: #f2f3f5;
  --color-silver-100: #c4c4c4;
  --gray-4: #bdbdbd;
  --color-primary-blue: #c367e6;
  --color-mediumorchid-100: #b769da;
  --color-black: #000;
  --color-darkgray-100: #989aa6;
  --color-mediumpurple: #7d7ad8;

  /* Gaps */
  --gap-40xl: 59px;
  --gap-xl: 20px;
  --gap-33xl: 52px;
  --gap-28xl: 47px;
  --gap-12xl: 31px;
  --gap-6xs: 7px;
  --gap-8xl: 27px;
  --gap-10xs: 3px;
  --gap-xs: 12px;
  --gap-24xl: 43px;
  --gap-11xl: 30px;
  --gap-4xl: 23px;
  --gap-7xs: 6px;
  --gap-17xl: 36px;
  --gap-18xl: 37px;
  --gap-14xl: 33px;
  --gap-3xl: 22px;
  --gap-mini: 15px;
  --gap-base: 16px;
  --gap-9xs: 4px;
  --gap-11xs: 2px;
  --gap-8xs: 5px;
  --gap-32xl: 51px;
  --gap-4xs: 9px;
  --gap-3xs: 10px;
  --gap-smi: 13px;
  --gap-7xl: 26px;
  --gap-72xl: 91px;
  --gap-6xs-1: 6.1px;
  --gap-3xs-1: 9.1px;
  --gap-5xl: 24px;
  --gap-67xl: 86px;
  --gap-23xl: 42px;
  --gap-6xl: 25px;
  --gap-174xl: 193px;
  --gap-mid: 17px;
  --gap-2xs: 11px;
  --gap-34xl: 53px;
  --gap-sm: 14px;
  --gap-66xl: 85px;
  --gap-51xl: 70px;
  --gap-25xl: 44px;
  --gap-20xl: 39px;
  --gap-12xs: 1px;
  --gap-81xl: 100px;

  /* Paddings */
  --padding-35xl: 54px;
  --padding-8xl: 27px;
  --padding-7xl: 26px;
  --padding-3xs: 10px;
  --padding-12xs: 1px;
  --padding-9xs: 4px;
  --padding-4xs: 9px;
  --padding-5xs: 8px;
  --padding-18xl: 37px;
  --padding-6xs: 7px;
  --padding-19xl: 38px;
  --padding-lg: 18px;
  --padding-8xs: 5px;
  --padding-xs: 12px;
  --padding-sm: 14px;
  --padding-11xl: 30px;
  --padding-mid: 17px;
  --padding-21xl: 40px;
  --padding-xl: 20px;
  --padding-10xs: 3px;
  --padding-16xl: 35px;
  --padding-smi: 13px;
  --padding-2xs: 11px;
  --padding-14xl: 33px;
  --padding-90xl: 109px;
  --padding-32xl: 51px;
  --padding-52xl: 71px;
  --padding-27xl: 46px;
  --padding-6xl: 25px;
  --padding-3xs-1: 9.1px;
  --padding-lg-2: 18.2px;
  --padding-26xl: 45px;
  --padding-39xl: 58px;
  --padding-10xl: 29px;
  --padding-lgi: 19px;
  --padding-15xl: 34px;
  --padding-30xl: 49px;
  --padding-5xl: 24px;
  --padding-12xl: 31px;
  --padding-2xl: 21px;
  --padding-base: 16px;
  --padding-mini: 15px;
  --padding-4xl: 23px;
  --padding-2xs-3: 10.3px;
  --padding-43xl: 62px;
  --padding-7xs: 6px;
  --padding-41xl: 60px;
  --padding-9xl: 28px;
  --padding-33xl: 52px;
  --padding-103xl: 122px;
  --padding-3xl: 22px;
  --padding-11xs: 2px;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-3xs: 10px;
  --br-xs: 12px;
  --br-6xs-1: 6.1px;
  --br-mini-9: 14.9px;
  --br-xs-2: 11.2px;
  --br-11xl: 30px;
  --br-xl: 20px;
  --br-81xl: 100px;
  --br-mini: 15px;
  --br-sm: 14px;
  --br-19xl: 38px;
  --br-8xs-3: 4.3px;
  --br-base: 16px;
}
